*{
	margin: 0;
	padding: 0;
	user-select: none;
}
body{
  	background-color: #044C62;
  	font-family: Arial, Helvetica, sans-serif;
	size: a11;
	}


.reportheader h2{
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	font-weight: lighter;
}
.reportheader h3{
	text-transform: uppercase;
	text-align: center;
	color: black;
}

.reportheader
{
	margin-top: 20px;
	background-color: #0785AB;
	overflow: hidden;
	color: black;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 20px;
	font-size: 100%;
	border-radius: 3px;

	font-weight: lighter;
}

.wrapper{
	width: 50%;
	max-width: 500px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	box-sizing: border-box;
	color: black;
	overflow: hidden;
	border: 3px solid #0785AB;
}
.content{
	text-align: center;
	letter-spacing: 1px;
	color: blue;
}

.form{
	width: 100%;
	margin: 25px 0;
}
.top-form,
.middle-form,
.bottom-form{
	width: 100%;
	min-height: 65px;
	margin: 10px 0;
	overflow:hidden;
}
.form input[type="text"],
.form textarea{
padding: 15px 15px;
box-sizing: border-box;
width: 100%;
border:2px solid #fff;
border-radius: 2px;
outline: none;
transition: all 0.2s ease;
}
.form input:focus,
.form textarea:focus{
	border-color: #4ca1af;
	border-shadow:inset 0 1px 1px rgba(0,0,0,0.125),
	                    0 0 8px rgba(76,161,175,0.5);
}
.form .label{
	margin-bottom: 5px;
	text-transform: uppercase;
}
.top-form .inner-form{
	width: 29.9%;
	float: left;
	margin-right: 5%;
}
.top-form .inner-form:last-child{
	margin-right: 0;
}
.middle-form{
	clear: both;
	float: right;
}
.middle-form .inner-form{
	float: left;
	box-sizing: border-box;
	width: 50%;
}
.bottom-form textarea{
	height: 120px;
}


.btn1,.btn2{
	background-color:#0785AB;
	width: 200px;
	padding: 10px 0;
	border-radius: 2px;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	letter-spacing: 5px;
	cursor: pointer;
	margin-right: 10px;
}

.btn2 a
{
	color: white;
	text-decoration: none;

}

.btn2 a:link
{
	color: white;
	text-decoration: none;
}

.btn2 a:hover
{
	color: black;
}


.btn1:hover
{
	background-color: #0785AB;
	color: black;
}

::-webkit-input-placeholder{
	font-family: 'kavivanar', cursive;
	text-transform: capitalize;
}
::-moz-input-placeholder{
	font-family: 'kavivanar', cursive;
	text-transform: capitalize;
}
::-ms-input-placeholder{
	font-family: 'kavivanar', cursive;
	text-transform: capitalize;
}


@media screen and (max-width: 768px){
	.wrapper{
		margin:25px auto 0;
		width: 85%;
	}

	
	.top-form .inner-form{
		width: 100%;
		margin:5px 0;
	}

	.reportheader h2
	{
		font-size: 160%;
	}

	.reportheader h3
	{
		font-size: 150%;
		margin-bottom: 0px;
	}
}
